In [1]:
%matplotlib inline 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('test.csv')
df=df.set_index('image_name')
df.head()

                                        x1  x2  y1  y2
image_name
1467891670691DSC_0582.png              NaN NaN NaN NaN
1475151786691DSC00560.png              NaN NaN NaN NaN
1480334114405_R2A3620.png              NaN NaN NaN NaN
JPEG_20160712_161047_1000606860114.png NaN NaN NaN NaN
JPEG_20160403_174522_-1137349501.png   NaN NaN NaN NaN

In [6]:
df.shape

(24045, 4)

In [5]:
f=open('test_list.txt','w')
c=0
for row,val in df.iterrows():
    f.write(row)
    f.write('\n')
    c+=1
f.close()
print(c)

24045

In [3]:
parray=np.load('predicted_points.npy')

In [4]:
parray.shape

(12815, 6)

In [5]:
df.shape

(12815, 4)

In [6]:
parray=parray[:,0:4]

In [7]:
parray.shape

(12815, 4)

In [8]:
df['x1']=parray[:,0].astype(np.int32)
df['x2']=parray[:,2].astype(np.int32)
df['y1']=parray[:,1].astype(np.int32)
df['y2']=parray[:,3].astype(np.int32)

In [9]:
df.head()

                                         x1   x2   y1   y2
image_name
1474723840903DSC08089.png               230  444   87  409
1473231475010DeeplearnS11276.png         67  578  135  357
JPEG_20161205_135307_1000155917326.png  143  509   58  432
JPEG_20160711_123440_1000518778437.png  210  451  105  409
JPEG_20160803_115329_100034020722.png   135  502   40  425

In [10]:
df.to_csv('predictions.csv')