In [2]:
%matplotlib inline 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('test.csv')
df=df.set_index('image_name')
df.head()

                                        x1  x2  y1  y2
image_name
1467891670691DSC_0582.png              NaN NaN NaN NaN
1475151786691DSC00560.png              NaN NaN NaN NaN
1480334114405_R2A3620.png              NaN NaN NaN NaN
JPEG_20160712_161047_1000606860114.png NaN NaN NaN NaN
JPEG_20160403_174522_-1137349501.png   NaN NaN NaN NaN

In [3]:
df.shape

(24045, 4)

In [4]:
# f=open('test_list.txt','w')
# c=0
# for row,val in df.iterrows():
#     f.write(row)
#     f.write('\n')
#     c+=1
# f.close()
# print(c)

In [5]:
parray=np.load('predicted_points.npy')

In [6]:
df.shape

(24045, 4)

In [7]:
parray=parray[:,0:4]

In [8]:
parray.shape

(24045, 4)

In [9]:
df['x1']=(parray[:,0]*640/256).astype(np.int32)
df['x2']=(parray[:,2]*640/256).astype(np.int32)
df['y1']=(parray[:,1]*480/256).astype(np.int32)
df['y2']=(parray[:,3]*480/256).astype(np.int32)

In [10]:
df.head()

                                         x1   x2   y1   y2
image_name
1467891670691DSC_0582.png                81  549   86  419
1475151786691DSC00560.png               219  409  120  418
1480334114405_R2A3620.png               197  426   98  361
JPEG_20160712_161047_1000606860114.png  184  503   56  415
JPEG_20160403_174522_-1137349501.png    100  532   42  383

In [11]:
df.to_csv('predictions.csv')